{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        {% if products %}
            <div class="card mb-3"  style="width: 450px; height: 300px;;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ products.picture.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ products.name }}</h5>
                            <p class="card-text">{{ products.description }}</p>
                            {% if products.is_sale %}
                                <p class="card-text">{{ products.sale_price }}</p>
                            {% else %}
                                <p class="card-text">{{ products.sale_price }}</p>
                            {% endif %}
                            <br><br>
                            <a href="{% url 'home' %}" class="btn btn-secondary" >بازگشت به صفحه خرید </a>
                            <br>
                            <button class="btn btn-secondary" type="button" value='{{ product.id }}' id="add_cart">  افزودن به سبد خرید </button>
                            </a>
                        </div>
                    </div>
                 <script>
                        $(document).on("click", '#add_cart', function (e) {
                            e.preventDefault();
                            var productId = $(this).data("product-id");
                            $.ajax({
                                url: "{% url 'cart_add' %}",
                                method: "POST",
                                data: {
                                    product_id: productId,
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                    action: 'post'
                                },
                                success: function (response) {
                                    console.log(response);
                                },
                                error: function (xhr, errmsg, err) {
                                    console.error(xhr.status + ": " + xhr.responseText);
                                }
                            });
                        });
                 </script>


                </div>
            </div>
        {% else %}
            <p></p>
        {% endif %}
    </div>
{% endblock %}
